html{
    padding: 0;
    margin: 0;
    opacity: 0;
    transition-duration: .5s;
}

.html_visible{
    opacity: 1!important;
}

body{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

#login-container{
    z-index: 1;
    position: absolute;
    display: none;
    width: 500px;
    height: 400px;
    top: calc(50% - 200px);
    left: calc(50% - 250px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 400px;
    height: 40px;
    margin: 10px 0;
    font-size: 15px;
    text-indent: 15px;
    border-radius: 0;
    border: 1px solid rgba(0,0,0,.5);
    font-family: "Roboto Slab";
}

.create-button{
    width: 100px;
    height: 35px;
    border-radius: 3px;
    color: white;
    background-color: #377ce6;
    border: none;
    transition-duration: .1s;
    font-size: 14px;
    user-select: none;
    margin-top: 10px;
    font-family: Nunito;
    letter-spacing: 1px;
}


.create-button:hover{
    cursor: pointer;
    opacity: .7;
}

#create-account-button{
    width: fit-content;
    height: fit-content;
    font-size: 12px;
    color: black;
    font-family: Martel;
    margin: 15px 0;
    user-select: none;
    transition-duration: .1s;
    opacity: .4;
}

#create-account-status{
    width: fit-content;
    height: 20px;
    font-size: 12px;
    color: #f2623a;
    font-family: Martel;
    margin: 15px;
    opacity: 1;
}

#login-account-status{
    width: fit-content;
    height: 20px;
    font-size: 12px;
    color: #f2623a;
    font-family: Martel;
    margin: 15px;
    opacity: 1;
}

#create-account-button:hover{
    opacity: .7;
    cursor: pointer;
}

#back-to-login{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 200px;
    left: -100px;
    user-select: none;
    font-size: 60px;
    text-align: center;
    line-height: 50px;
    opacity: 0.4;
}

#back-to-login:hover{
    cursor: pointer;
}

#create-account-form{
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 450px;
    left: calc(50% - 225px);
    height: 500px;
    top: calc(50% - 250px);
    background: white;
    animation: 1s fadeIn;
}



#main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
}

#nav-bar{
    width: 100%;
    height: 50px;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
}


.nav-item{
    width: fit-content;
    height: 30px;
    line-height: 30px;
    color: black;
    margin: 0 10px;
    font-size: 15px;
    user-select: none;
    transform-origin: center left;
    font-family: "Noto Sans JP";
    font-weight: 700;
    opacity: .7;
}

.nav-item:hover{
    cursor: pointer;
    opacity: 0.5;
    transition-duration: .1s;
}

.nothing-here{
    text-align: center;
    color: rgba(0,0,0,.2);
    font-size: 40px;
    font-family: "Nunito";
    background: transparent;
    
}

#content-container{
    width: 100%;
    height: 100%;
}

#dashboard{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: transparent;
    overflow: hidden;

}

#settings{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: transparent;
    overflow: hidden;
    
}

#content-panel{
    width: 1000px;
    height: 500px;
    border: 3px solid white;
    transition-duration: .2s;
    box-shadow: 0 10px 20px 1px rgba(0,0,0,.2);
    user-select: none;
    overflow-x: hidden;
    background-color: teal;
}

#content-panel:hover{
    transform: translateY(-8px);
    transition-duration: .2s;
    box-shadow: 0 20px 50px 1px rgba(0,0,0,.2);
}

#panel-count{
z-index: 10;
    width: fit-content;
    height: 25px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4173c4;
    opacity: .3;;
    margin: 5px;
    transition-duration: .15s;
}

.selected{
    opacity: 1;
}

.selected-panel{
    display: block!important;
}

#panel-controls{
    margin-top: 20px;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 70px;
}


.panel-control{
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 60px;
    user-select: none;
    transition-duration: .1s;
    font-family: Nunito;
    color: black;
    opacity: .4;
    
}

.panel-control:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: .1s;
}

.panel-control:active{
    transform: scale(1);
}

@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}