html{
    font-family: "Lora";
    font-style: italic;
    font-weight: 500;
    cursor: pointer;
}

body{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text{
    z-index: 1;
    font-size: 84px;
    color: white;
    user-select: none;
    animation: infinite loop 5s ease-in-out;
    width: fit-content;
    height: fit-content;
}

img{
    z-index: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    /* filter: blur(2px); */
}

@keyframes loop{
    

}