html{
    padding: 0;
    margin: 0;
}

#container{
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 200px);
    width:400px;
    height: 300px;
    border: 2px solid black;
    resize: none;
    text-indent: 1px;
}

#container:focus{
    outline: none;
}